body {
  margin: 0;
  font-family: Arial;
  background: #f4f4f4;
}

header {
  background: #0d6efd;
  color: white;
  text-align: center;
  padding: 30px;
}

nav {
  background: #084298;
  padding: 15px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 15px;
}

.hero {
  padding: 60px;
  text-align: center;
  background: white;
}

.content {
  padding: 30px;
}

footer {
  background: #222;
  color: white;
  text-align: center;
  padding: 15px;
}